version: "3.8"
services:
  web:
    image: jetson-web:local
    environment:
      - DEEPSTREAM_URL=http://192.168.1.200:8080/api/v1
    ports:
      - "80:80"
    restart: unless-stopped
    volumes:
      - /data/hls:/app/public/video