version: "3.8"
services:
  spec:
    image: nvcr.io/nvidia/deepstream-l4t:6.0.1-samples
    container_name: openapi-spec
    restart: unless-stopped
    network_mode: host
    command: bash -c "mkdir -p /usr/share/openapi/api && cd /usr/share/openapi && python3 -m http.server 8080 --bind 0.0.0.0"
    volumes:
      - ./jetson-web/openapi.json:/usr/share/openapi/api/openapi.json:ro
  web:
    build:
      context: .
      dockerfile: jetson-web-runtime/Dockerfile
    container_name: jetson-web
    network_mode: host
    environment:
      - PORT=3000
      - JETSON_ONLY=true
      - IS_JETSON=true
      - DEEPSTREAM_IMAGE=nvcr.io/nvidia/deepstream-l4t:6.0.1-samples
      - DS_APP_IMAGE=nvcr.io/nvidia/deepstream-l4t:6.0.1-samples
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/hls:/app/public/video
      - /data/hls:/data/hls
      - /data/videos:/data/videos
      - /data/ds/configs:/app/configs
      - /data/ds/configs:/data/ds/configs
      - /data/snapshots:/data/snapshots
      - /opt/nvidia/deepstream/deepstream-6.0/sources/libs/nvdsinfer_custom_impl:/opt/nvidia/deepstream/deepstream-6.0/sources/libs/nvdsinfer_custom_impl